
__pycache__/teamdetectorgui.cpython-312.pyc
lib/bindings/utils.js
lib/tom-select/tom-select.complete.min.js
lib/tom-select/tom-select.css
lib/vis-9.1.2/vis-network.css
lib/vis-9.1.2/vis-network.min.js
players.txt
teamNetwork.html
